* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: "Roboto mono", sans-serif;
	color: #e6d7d7;
}

body {
	background-color: #323031;
}

/* Main container */

.main-container {
	min-width: 320px;
	min-height: 500px;
	position: absolute;
	top: 45%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}

/* Session type */

.session-type {
	margin: 60px auto -15px;
	display: flex;
	font-size: 2.8rem;
	font-weight: 300;
}

/* Timer */

.timer {
	margin: 0px auto;
	font-size: 10rem;
	font-weight: 300;
}

/* sessions */

.sessions {
	margin: 0px auto;
}

.sessions span {
	width: 10px;
	height: 10px;
	display: inline-block;
	background-image: url("./assets/icons/circule.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.sessions .sessions__dots--first {
	margin-left: 10px;
}

.sessions .sessions__dots--mid-left {
	margin-right: 30px;
}

/* Buttons */

.buttons {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.6rem;
	font-weight: 400;
	text-align: center;
}

.buttons div {
	width: 80px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff6a41;
	border-radius: 3px;
}

.buttons .buttons__play {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.buttons .buttons__play span {
	margin-left: 0px;
	width: 33px;
	height: 37px;
	display: inline-block;
	background-image: url("./assets/icons/play.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.buttons div:hover {
	background-color: #d8603e;
	cursor: pointer;
	cursor: hand;
}

.buttons div:active {
	background-color: #993f27;
}

/* Settings */

.settings {
	margin: 40px auto 0;
}

.settings div {
	margin-bottom: 10px;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
}

.settings input {
	width: 30px;
	margin: 0 15px 0 10px;
	background: none;
	border: none;
	border-bottom: 1px solid #e6d7d7;
	font-family: "Roboto mono", sans-serif;
	font-size: 1.8rem;
	font-weight: 500;
	text-align: center;
	color: #e6d7d7;
	outline: none;
}

.settings button {
	font-family: "Roboto mono", sans-serif;
	padding: 2px;
	color: #e6d7d7;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	background: #ff6a41;
	border: none;
}

.settings button:hover {
	cursor: hand;
	cursor: pointer;
}

.settings button:hover {
	background-color: #d8603e;
	cursor: pointer;
	cursor: hand;
}

.settings button:active {
	background-color: #993f27;
}